<div class="tab-pane fade" id="tab4">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <strong>题目:</strong> 提供一张局部发生修改的图片，在所有图像中比对，
                找出匹配度最高（即相同像素最多）的图片并返回，同时输出篡改部分的像素点坐标。
                比对过程要求使用SPARK RDD或HADOOP MAPREDUCE实现将每张图像分割后多个部分并行比对以提升比对速度。
            </div>
            <div class="input-group">
                <input data-toggle="tab4" class="form-control" type="file" placeholder="Upload File"/>
                <span class="input-group-btn">
                                <button class="btn btn-success" type="button" data-toggle="tab" name="upload3"
                                        data-loading-text="Analysing...">Analyse</button>
                            </span>
            </div>
            <div class="panel panel-success" style="margin-top: 2%">
                <div class="panel-heading">图片信息</div>
                <table class="table" id="table2">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>图片名称</th>
                        <th>匹配相似度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>